{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>BAMTI - {% block title %} {% endblock %} </title>

	{# Cargamos la librería #}
	{% load bootstrap4 %}

	{# CSS Bootstrap #}
	{% bootstrap_css %}
	<style type="text/css">
		.errorlist{
			/*ALERT*/
			position: relative;
			padding: .75rem 1.25rem;
			margin-bottom: 1rem;
			border: 1px solid transparent;
			border-radius: .25rem;
			/*ALERT DANGER*/
			color: #721c24;
			background-color: #f8d7da;
			border-color: #f5c6cb;
		}
	</style>
	<link rel="stylesheet" type="text/css" href="{% static 'customers/assets/vendor/parsley/css/parsley.css' %}">
</head>
<body>

	{% if user.is_authenticated %}
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="{% url 'welcome' %}">BAMTI</a>
		<!-- ACCESOS MENU -->
		<ul class="navbar-nav mr-auto">
			<!-- CLIENTES MENU -->
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="customerDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Clientes</a>
				<div class="dropdown-menu" aria-labelledby="customerDropdown">
					<a class="dropdown-item" href="{% url 'customer.create' %}">Registrar</a>
					<a class="dropdown-item" href="#">Consultar</a>
					<a class="dropdown-item" href="#">Modificar</a>
				</div>
			</li>
			<!-- CUENTAS MENU -->
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cuentas</a>
				<div class="dropdown-menu" aria-labelledby="accountDropdown">
					<a class="dropdown-item" href="#">Consultar</a>
					<a class="dropdown-item" href="#">Modificar</a>
				</div>
			</li>
		</ul>
		<!-- USUARIO MENU -->
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link font-weight-bold">{{ user.username }}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="logout/">Cerrar sesión</a>
			</li>
		</ul>
	</nav>
	{% endif %}

	<div class="container">
	{% block content %}
	
	{% endblock %}
	</div>

	{# JS y jQuery Bootstrap #}
	{% bootstrap_javascript jquery='full' %}
	<script type="text/javascript" src='{% static "customers/assets/vendor/mask/js/jquery.mask.min.js" %}'></script>
	<script type="text/javascript" src='{% static "customers/assets/vendor/parsley/js/parsley.min.js" %}'></script>
	<script type="text/javascript" src='{% static "customers/assets/js/customers.js" %}'></script>
</body>
</html>